<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cadastro de instituicao</h1>

    <form th:action="@{/instituicao}" method="POST" th:object="${instituicao}">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" th:field="*{nome}"class="form-control" /><br /><br />
        <label for="sigla" class="form-label">Sigla</label>
        <input type="text" th:field="*{sigla}"class="form-control" /><br /><br />
        <label for="fone" class="form-label">Fone</label>
        <input type="text" th:field="*{fone}"class="form-control" /><br /><br />
        <input type="submit" value="Salvar" />
    </form>
    
</body>
</html>