<!DOCTYPE html>
<html lang="en"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}"
>
<body class="text-white bg-dark">
    <div layout:fragment="container" class="container">
        <div th:text="${mensagem}" th:if="${mensagem ne null}" class="alert alert-success"></div>

        <h1  class="text-center p-4">Lista de Instituições</h1>
        <form th:action="@{/instituicao/form}" method="GET">
            <button class="btn btn-primary" type="submit">Novo</button>
        </form><br></br>
        <table  class="table table-bordered table-hover text-white ">
            <thead>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Sigla</th>
                <th scope="col">Fone</th>
                <th scope="col">Periodo</th>
                <th scope="col">Ação</th>

            </thead>
            <tbody>
                <tr scope="row" th:each="instituicao : ${instituicoes}">
                    <td th:text="${instituicao.id}"></td>
                    <td th:text="${instituicao.nome}"></td>
                    <td th:text="${instituicao.sigla}"></td>
                    <td th:text="${instituicao.fone}"></td>
                    <td th:text="${instituicao.periodoAtual.Ano}+ '.' + ${instituicao.periodoAtual.periodo.Valor}"th:if="${instituicao.periodoAtual != null}"></td>
                    <td th:if="${instituicao.periodoAtual == null}"> Sem Periodo </td>
                    <td >
                    <a class="btn btn-primary btn-custom" th:href="@{/instituicao/edita/{id}(id=${instituicao.id})}">
                        <span><i class="bi bi-pencil-square"></i></span></a>

                        <a class="btn btn-danger btn-custom" th:href="@{/instituicao/excluir/{id}(id=${instituicao.id})}">
                            <span><i class="bi bi-trash"></i></span>
                    </td>
                </tr>
            </tbody>
        </table>
    
    </div>
</body>
</html>