<!DOCTYPE html>
<html lang="en"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/index}"
>
<body class="text-white bg-dark">
    <div layout:fragment="container" class="container">
        <h1  class="text-center p-4">Lista de instituicao</h1>
        <table  class="table table-bordered table-hover text-white ">
            <thead>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">sigla</th>
                <th scope="col">fone</th>
                <th scope="col">Ação</th>

            </thead>
            <tbody>
                <tr scope="row" th:each="instituicao : ${instituicoes}">
                    <td th:text="${instituicao.id}"></td>
                    <td th:text="${instituicao.nome}"></td>
                    <td th:text="${instituicao.sigla}"></td>
                    <td th:text="${instituicao.fone}"></td>
                    <td class="">
                    <a class="btn btn-primary btn-custom" th:href="@{/instituicao/edita/{id}(id=${instituicao.id})}">
                        <span class="glyphicon glyphicon-ok img-circle text-primary btn-icon"></span> Editar</a>

                        <a class="btn btn-danger btn-custom" th:href="@{/instituicao/excluir/{id}(id=${instituicao.id})}">
                            <span class="glyphicon glyphicon-ok img-circle text-primary btn-icon"></span> excluir</a>
                            
                    </td>
                </tr>
            </tbody>
        </table>
    
    </div>
</body>
</html>