#img-log{
    
    width: 15%;
    height: 15%;
    background-color:#1f1a1a;
    border-radius: 75px;
    margin-right: 10px;
    
}
body{
  display: grid;
  align-content: center;
  align-content: space-evenly;
  grid-template-columns: auto;
  gap: 50px;
  
}




  /* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}
.lead{
    font-size: 1rem;
  
  }
.cover-container {
    max-width: 40em;
    position: relative;
    min-height: 30vh;
    

  }

/*-----*/




    /*-------- table---------*/
   tr:hover{
      background-color: lightseagreen;
}
.btn-custom {
	padding: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
  margin:2px;
}

.btn-icon {
	padding: 8px;

}

.text-err{
  color:red;
}

#img-login{ 
  width: 20%;
  height: 20%;
  background-color:#1f1a1a;
  border-radius: 75px;
  margin-right: 10px;
  
}
.logo-bar{
  text-align: center;
}