<!DOCTYPE html>
<!doctype html>
<html lang="en"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}"
>
<body class="text-white bg-dark">
    
  
    <div layout:fragment="container" class="container">
        <div th:text="${mensagem}" th:if="${mensagem ne null}" class="alert alert-success"></div>
        <h1 class="text-center p-4">Lista de Estudantes</h1>
        <form th:action="@{/estudante/form}" method="GET">
            <button class="btn btn-primary" type="submit">Novo</button>
        </form><br></br>
      
        <table class="table table-bordered table-hover text-white ">
            <thead>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Matrícula</th>
                <th scope="col">Instituição</th>
                <th scope="col">Ação</th>

            </thead>
            
            <tbody>
                <tr scope="row" th:each="estudante : ${estudantes}">
                    <td th:text="${estudante.id}"></td>
                    <td th:text="${estudante.nome}"></td>
                    <td th:text="${estudante.matricula}"></td>
                    <td th:text="${estudante.instituicao.nome}" th:if="${estudante.instituicao != null}"></td>
                    <td th:if="${estudante.instituicao == null}">Sem institução cadastrada</td>
                    <td class="">
                        <a class="btn btn-primary btn-custom" th:href="@{/estudante/edita/{id}(id=${estudante.id})}">
                            <span class="glyphicon glyphicon-ok img-circle text-primary btn-icon"></span> Editar</a>

                            <a class="btn btn-danger btn-custom" th:href="@{/estudante/excluir/{id}(id=${estudante.id})}">
                                <span class="glyphicon glyphicon-ok img-circle text-primary btn-icon"></span> excluir</a>
                                
                    </td>


                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>