<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lista estudante</title>
</head>
<body>
    <div class="container">
    <h1>lista de estudante</h1>
    <table>
        <thead>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Matricula</th>
            <th scope="col">Instituição</th>

        </thead>
        <tbody>
            <tr scope="row" th:each="estudante : ${estudantes}">
                <td th:text="${estudante.id}"></td>
                <td th:text="${estudante.nome}"></td>
                <td th:text="${estudante.matricula}"></td>
                <td th:text="${estudante.instituicao.nome}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>